/* Hero section starts */

.hero-section {
    background-color: #b8dde3;
    height: 700px;

}

.herosection-content {
    padding: 25px 120px;
}

.herosection-content h4 {
    background-color: #2b4eff;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 100px;
    width: 200px;

}

.herosection-content h1 {
    font-size: 50px;
    margin: 5px 0px;
}

.herosection-content img {
    position: absolute;
    padding-left: 180px;

}

.herosection-content p {
    width: 100%;
    max-width: 450px;
    line-height: 2;
    color: #5b5f66;

}

.herosection-content .btn-2 {
    background-color: #2b4eff;
    color: #ffffff;
    border: none;
    padding: 12px 32px;
    border-radius: 5px;
    font-size: 16px;
}

.herosection-content .btn-2:hover {
    background-color: #ffffff;
    color: #2b4eff;
}

.herosection-images {
    display: flex;
}

.herosection-images .img-1 {
    position: absolute;
    top: 130px;
    left: 70px;
    width: 60px;
    height: 60px;

}

.herosection-images .img-2 {
    position: absolute;
    top: 370px;
    width: 55px;
    height: 190px;
}

.herosection-images .img-3 {
    position: absolute;
    top: 160px;
    right: 90px;
    width: 500px;
    height: 450px;
}

.herosection-images .img-4 {
    position: absolute;
    top: 150px;
    right: 85px;
    width: 530px;
    height: 620px;

}

.herosection-images .img-5 {
    position: absolute;
    right: 0px;
    top: 380px;
    width: 40px;
    height: 100px;
}

.herosection-images .img-a {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 365px;
    top: 255px;
    background-color: #fa7919;
    border-radius: 5px;
}

.herosection-images .img-b {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 500px;
    top: 325px;
    border-radius: 5px;
    background-color: #103e5a;

}

.herosection-images .img-c {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 145px;
    top: 359px;
    border-radius: 5px;
    background-color: #2b4eff;
}


/* Hero section Ends */

/*information content starts */

.information-content {
    text-align: center;
    margin-top: 100px;


}

.information-content h4 {
    background-color: #2b4eff;
    color: #ffffff;
    width: 250px;
    margin: 10px auto;
    padding: 4px;
    border-radius: 5px;

}

.information-content h1 {
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
    font-size: 35px;

}

.information-content p {
    width: 100%;
    max-width: 770px;
    margin: 30px auto;
    font-size: 15px;
    line-height: 2;
    font-weight: 500;
    color: #707682;

}

.information-card {
    color: #707682;
}



/*information content Ends */

/*information-card-section starts*/

.all-information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px 120px;
    gap: 35px 35px;
}

.information-card p {
    width: 100%;
    max-width: 310px;
    font-size: 16px;
    color: #707682;
    margin: 5px;

}

.information-card {
    border-radius: 5px;
    padding: 35px 30px;
    line-height: 1.5;

    box-shadow: 5px 10px 10px 8px #f0f0f3;

}

.information-card h2 {
    font-size: 16px;


}

.a1 {
    background-color: #f2eaff;
    color: #864dfe;
    padding: 2px 4px;
    border-radius: 3px;
    width: 125px;
}

.a2 {
    background-color: #e9edff;
    color: #3b58ff;
    padding: 2px 4px;
    border-radius: 3px;
    width: 140px;
}

.a3 {
    background-color: #eaf6e8;
    color: #56af4e;
    padding: 2px 4px;
    border-radius: 3px;
    width: 90px;
}

.a4 {
    background-color: #fef1e8;
    color: #fb843d;
    padding: 2px 4px;
    border-radius: 3px;
    width: 150px;
}

.a5 {
    background-color: #fee9f2;
    color: #cd256d;
    padding: 2px 4px;
    border-radius: 3px;
    width: 170px;
}

.a6 {
    background-color: #e7f5fc;
    color: #1f6587;
    padding: 2px 4px;
    border-radius: 3px;
    width: 200px;
}


.information-card img {
    width: 50px;
    height: 50px;
}


/*information section ends */

/* Benefits Section content Starts */

.benefits-content {
    text-align: center;
    margin-top: 100px;

}

.benefits-content p,
.all-benefits p {
    color: #707682;
}

.benefits-content h4 {
    background-color: #2b4eff;
    color: #ffffff;
    width: 100px;
    margin: 15px auto;
    padding: 2px 3px;
    border-radius: 4px;

}

.benefits-content img {
    padding: 2px;
}

.benefits-content h1 {
    width: 100%;
    max-width: 650px;
    font-size: 40px;
    margin: -5px auto;



}

/* Benefits Section content Ends*/


/* all Benefits  Starts */

.all-benefits {
    padding: 22px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;

}

.benefit-1 {
    background-color: #2d69f0;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 8px #f0f0f3;
}

.benefit-2 {
    background-color: #dd246e;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 8px #f0f0f3;
}

.benefit-3 {
    background-color: #8007e6;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 8px #f0f0f3;
}

.benefit-4 {
    background-color: #0cae74;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 10px #f0f0f3;
}

.all-benefits h3 {
    width: 130px;
    font-size: 18px;
    color: #ffffff;
}

.all-benefits img {
    width: 60px;
    height: 110px;
}

.all-benefits p {
    font-weight: 200;
    margin: 20px 0px;
    color: #f4f6fb;
    line-height: 1.4;
}

/* all Benefits  Ends*/

/*About Section Starts*/

.about-section {
    padding: 25px 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    column-gap: 220px;

}

.img-6 {
    position: absolute;
    left: 300px;
    margin-top: 250px;
    width: 330px;
    z-index: 0;


}

.img-7 {
    position: absolute;
    left: 400px;
    margin-top: 10px;
    width: 180px;
    z-index: 1;
}

.img-8 {
    position: absolute;
    left: 490px;
    margin-top: 120px;
    width: 200px;
    z-index: 2;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 40px 80px 2px #dfe0e6;
}

.img-9 {
    position: absolute;
    left: 90px;
    margin-top: 10px;
    width: 80px;
    z-index: 3;
    margin-top: 360px;

}

.img-10 {
    position: absolute;
    left: 120px;
    margin-top: 10px;
    width: 395px;
    z-index: 4;
    margin-top: 80px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.aboutimages-content {
    width: 280px;
    background-color: #ffffff;
    position: absolute;
    left: 330px;
    z-index: 10;
    margin-top: 390px;
    padding: 0px 20px;
    font-size: 13px;
    border-radius: 5px;

}

.about-content {
    margin-top: 80px;
    font-size: 16px;
}

.about-content h4 {
    background-color: #2b4eff;
    width: 60px;
    padding: 2px 4px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
}

.about-content h1 {

    font-size: 37px;
    margin: 0px;

}

.about-content img {
    position: absolute;
    right: 520px;
    width: 10px;
}

.about-content p {
    font-weight: 100;
    font-size: 14.5px;
    line-height: 1.8;
}

.about-content ul li {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.8;

}

.about-content ul span {
    padding-right: 10px;
    color: green;
}

.about-content button {
    border: solid #d7d9e3;
    padding: 10px 30px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 40px;
}

.about-content button:hover {
    background-color: #2b4eff;
    color: #ffffff;

}

/*About Section Ends*/

/*Courses Section Starts*/

.courses-section {
    padding: 25px 120px;

}

.course-heading h1 {
    font-size: 35px;
}

.course-heading img {
    position: absolute;
    left: 180px;

}

.all-courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;

}

.cards {

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    border: solid #eff1f7;
    border-radius: 5px;
    padding: 10px 30px;
    align-content: center;
    align-items: center;
}

.cards img {
    width: 50px;
    height: 50px;
}

.cards p {
    font-weight: 900;
    font-size: 18px;
}

.apply-course {
    display: flex;
    align-items: center;
    margin: 20px auto;
    position: relative;
    margin: 20px auto;
}


.apply-course h1 {
    width: 100%;
    max-width: 620px;
    font-weight: 900;
}

.apply-course button {
    background-color: #2b4eff;
    border: none;
    color: #ffffff;
    font-size: 15px;
    border-radius: 5px;
    padding: 0px 30px;
    height: 40px;
    margin-left: 40px;
}

.apply-course button:hover {
    background-color: #ffff;
    color: #2d69f0;
    border: solid #d7d9e3;

}

/*Courses Section Ends*/

/*Frequently asked questions starts*/

.frequently-asked-questions {
    /* background-image: url('../images/events-shape.png'); */
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.questions-heading h1 {
    font-size: 40px;
    text-align: center;

}

.all-questions ul {
    display: grid;
    row-gap: 20px;

}

.all-questions ul li {

    display: flex;
    justify-content: space-between;
    margin: 5px auto;
    padding: 30px 45px;
    color: #707682;
    box-shadow: -1px 10px 20px 3px #e9eaee;
    border-radius: 7px;
    background-color: #ffff;
    width: 100%;
    max-width: 700px;
}

/*Frequently asked questions ends*/


/*Get start section starts*/


.get-start {
    padding: 25px 120px;
    background-color: #edeef3;
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 200px;
    margin: 55px auto;
    border-radius: 10px;
    overflow: hidden;


}

.get-start-content {
    display: flex;
    justify-content: space-between;

}

.get-start-content h1 {
    font-size: 40px;
}

.image-11 {
    position: absolute;
    left: -80px;
    width: 160px;
    top: -40px;
    overflow: hidden;
}



.image-12 {
    position: absolute;
    right: -20px;
    top: 100px;
    width: 70px;
}

.get-start-content button {
    height: 55px;
    width: 160px;
    margin-top: 80px;
    color: #ffff;
    background-color: #2b4eff;
    border: none;
    border-radius: 5px;

}

.get-start-content button:hover {
    background-color: #ffffff;
    color: #2b4eff;
    border: 1px solid black;
}

/*Get start section ends*/


@media only screen and (max-width:767px) {




    /* Hero section starts */

    .herosection-content {
        padding: 26px 30px;
    }

    .herosection-content h4 {
        padding: 5px 10px;
        font-size: 10px;
        width: 151px;
        margin-top: 60px;
    }

    .herosection-content h1 {
        font-size: 13px;

    }

    .herosection-content p {
        max-width: 170px;
        font-size: 10px;
    }

    .herosection-images .img-1 {

        left: 20px;
        width: 30px;
        height: 30px;
    }

    .herosection-images .img-2 {

        top: 200px;
        width: 15px;
        height: 70px;
    }

    .herosection-images .img-3 {

        top: 160px;
        right: 10px;
        width: 140px;
        height: 140px;

    }

    .herosection-images .img-4 {

        top: 170px;
        right: 10px;
        width: 150px;
        height: 150px;
    }

    .herosection-images .img-5 {

        top: 270px;
        width: 10px;
        height: 30px;
    }

    .herosection-images .img-a {
        width: 15px;
        height: 14px;
        right: 87px;
        top: 185px;
    }

    .herosection-images .img-b {
        width: 15px;
        height: 15px;
        right: 125px;
        top: 205px;
    }

    .herosection-images .img-c {
        width: 15px;
        height: 15px;
        right: 25px;
        top: 210px;
    }

    .herosection-content img {

        padding-left: 50px;
    }

    .herosection-content .btn-2 {
        padding: 8px 10px;
        margin-left: 20px;
        font-size: 8px;
        margin-left: 0px;
    }

    .hero-section {

        height: 400px;

    }

    /* Hero section Ends */

    /*information content starts */

    .information-content h1 {
        max-width: 400px;
        font-size: 20px;
    }

    .information-content p {
        max-width: 300px;
        font-size: 12px;
    }

    .all-information {
        grid-template-columns: 1fr;
        padding: 26px 30px;
    }

    /*information section ends */

    /* Benefits Section content Starts */


    .benefits-content h1 {
        max-width: 400px;
        font-size: 20px;
    }

    .benefits-content p {
        color: #707682;
        font-size: 13px;
    }

    .all-benefits {
        grid-template-columns: 1fr;
        padding: 25px 60px;
        gap: 20px;
    }

    /* all Benefits  Ends*/

    /*About Section Starts*/
    .about-section {
        padding: 26px 30px;
        grid-template-columns: 1fr;
        margin-top: 60px;

    }

    .about-content {
        margin-top: 400px;
        margin-left: 20px;
    }

    .about-content h1 {
        font-size: 25px;
    }


    .about-content p {
        font-size: 14px;
    }

    .images-section {
        margin-left: 20px;
    }

    .img-6 {
        left: 150px;
        margin-top: 200px;
        width: 180px;

    }

    .img-7 {
        left: 200px;
        margin-top: 20px;
        width: 120px;
    }

    .img-8 {
        margin-top: 110px;
        left: 260px;
        width: 100px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .img-9 {
        left: 10px;
        width: 40px;
        margin-top: 250px;
    }

    .img-10 {
        left: 20px;
        margin-top: 10px;
        width: 250px;
        margin-top: 60px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .aboutimages-content {
        width: 158px;
        left: 149px;
        margin-top: 257px;
        font-size: 13px;
        font-size: 8px
    }



    /*About Section Ends*/

    /*Courses Section Starts*/


    .courses-section {
        padding: 26px 30px;
    }


    .course-heading h1 {
        font-size: 25px;
    }

    .course-heading img {

        left: 60px;
    }

    .all-courses {
        grid-template-columns: 1fr;
        padding: 30px;
    }

    .apply-course {
        margin: 20px auto;
        left: 10px;
        padding: 10px;
    }

    .apply-course h1 {
        font-size: 10px;
    }

    /*Courses Section Ends*/

    /*Frequently asked questions starts*/

    .questions-heading h1 {
        font-size: 25px;
    }

    .all-questions ul li {
        width: 100%;
        max-width: 300px;
        padding: 20px 10px;
        font-size: 10px;
        margin: 5px auto;
    }

    .frequently-asked-questions {
       /* background-image: url('../images/events-shape.png');*/
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        height: 700px;
    }

    /*Get start section starts*/

    /*Frequently asked questions ends*/

    .get-start {
        padding: 25px 20px;
        width: 100%;
        max-width: 300px;
        height: 75px;
        margin: 20px auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .get-start-content h1 {
        font-size: 13px;
        padding: 0px 13px;
    }

    .get-start-content button {
        height: 36px;
        width: 88px;
        margin-top: 110px;
        color: #ffff;
        background-color: #2b4eff;
        border: none;
        border-radius: 5px;
    }

    .get-start-content button {
        height: 23px;
        width: 82px;
        margin-top: 25px;
        color: #ffff;
        border-radius: 5px;
    }

    .image-11 {

        left: -65px;
        width: 100px;
        top: -40px;

    }

    .image-12 {
        right: -7px;
        top: 34%;
        width: 25px;
    }

}

/*Get start section ends*/


@media only screen and (min-width:768px) and (max-width:1024px) {

    /* Hero section starts */
    .herosection-content {
        padding: 30px 80px;
    }

    .herosection-content h1 {
        font-size: 25px;

    }

    .herosection-content p {
        max-width: 280px;
    }

    .herosection-images .img-3 {
        top: 191px;
        right: 42px;
        width: 400px;
        height: 378px;
    }

    .herosection-images .img-4 {
        top: 210px;
        right: 22px;
        width: 461px;
        height: 447px;
    }

    .herosection-images .img-a {
        right: 260px;
        top: 260px;
    }

    .herosection-images .img-b {
        right: 379px;
        top: 315px;
    }

    .herosection-images .img-c {
        right: 75px;
        top: 340px;
    }

    /* Hero section Ends */

    /*information content starts */

    .all-information {
        grid-template-columns: 1fr 1fr;
        padding: 8px 56px;
    }

    .information-content p {
        width: 100%;
        max-width: 722px;
    }

    /*information section ends */


    /* Benefits Section content Starts */
    .all-benefits {
        padding: 25px 100px;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .benefits-content h4 {
        padding: 10px 10px;
    }

    .benefit-1 {
        width: 220px;
    }

    .benefit-2 {
        width: 220px;
    }

    .benefit-3 {
        width: 220px;
    }

    .benefit-4 {
        width: 220px;
    }

    /* Benefits Section content Ends*/




    /*About Section Starts*/
    .about-section {
        grid-template-columns: 1fr;
        padding: 30px 80px;
    }

    .about-content {
        margin-top: 600px;

    }

    .about-content p {
        width: 100%;
        max-width: 600px;
    }

    /*About Section Ends*/

    /*Courses Section Starts*/
    .courses-section {
        padding: 30px 80px;
    }

    .course-heading img {

        left: 135px;
    }

    .all-courses {
        grid-template-columns: 1fr 1fr;
    }

    .apply-course h1 {
        max-width: 368px;
        font-size: 18px;
    }


    .apply-course button {
        padding: 0px 24px;
        height: 50px;
    }

    /*Courses Section Ends*/

    /*Frequently asked questions starts*/

    .questions-heading h1 {
        padding: 0px 100px;
    }

    .all-questions ul li {
        width: 510px;
        margin: 5px auto;
    }

    /*Frequently asked questions ends*/


    /*Get start section starts*/

    .get-start {
        width: 100%;
        max-width: 400px;
        height: 160px;
        margin: 50px auto;
        align-items: center;
        display: flex;
        justify-content: center;

    }


    .get-start-content h1 {
        font-size: 20px;
        margin: 20px;
    }

    .get-start-content button {
        height: 54px;
        width: 118px;
        margin-top: 30px;
    }

}

/*Get start section ends*/