/* Footer Section Starts*/

.footer-section {
    background-color: #0e1133;
    padding: 25px 120px;
}

.available-courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 100px;
    column-gap: 45px;
    row-gap: 30px;
    margin-top: 150px;
}

.available-courses h1 {
    color: #ffff;
    margin-bottom: 25px;
    font-size: 20px;
}

.available-courses p {
    color: #707682;
    line-height: 2;
    font-size: 15px;

}

/* Footer Section Ends*/


/* all rights starts */
.all-rights {
    background-color: #0e1133;
    padding: 20px 0px;


}

.all-rights p {
    border-top: 1px solid #4a4b56;
    color: #707682;
    font-size: 13px;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
}

/* all rights Ends*/



@media only screen and (max-width:767px) {
    /* Footer Section Starts*/

    .footer-section {
        background-color: #0e1133;
        padding: 25px 20px;
    }

    .available-courses {
        grid-template-columns: 1fr;
        margin-top: 80px;
    }

    /* Footer Section Ends*/

}





@media only screen and (min-width:768px) and (max-width:1024px) {


    /* Footer Section Starts*/

    .available-courses {
        grid-template-columns: 1fr 1fr;

    }

    /* Footer Section Ends*/

    /* all rights starts */

    /* all rights Ends*/
}