body {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    font-family: "Nunito Sans", sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/* Top Bar  starts*/

.top-bar {
    background-color: #b8dde3;
    padding: 25px 120px;
    display: flex;
    justify-content: space-between;
}

.top-barcontact,
.top-barcontact ul {
    display: flex;
    align-items: center;
}

.top-barcontact ul li a {
    padding: 0px 10px;
    color: #45546c;
}

.top-barcontact button {
    background-color: #2b4eff;
    color: #ffffff;
    padding: 12px 32px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
}

/* Top Bar  ends*/


@media only screen and (max-width:767px) {


    /* Top Bar  starts*/
    .top-bar {
        padding: 26px 30px;
        flex-direction: column;
    }

    .top-barcontact ul li a {
        padding: 0px 5px;
        font-size: 9px;

    }

    .top-barcontact button {

        padding: 8px 10px;
        margin-left: 10px;
        font-size: 8px;
    }

}

/* Top Bar  ends*/



@media only screen and (min-width:768px) and (max-width:1024px) {

    /* Top Bar  starts*/
    .top-bar {
        flex-direction: column;
        padding: 30px 80px;
    }
}
    /* Top Bar  ends*/